.wrapper {
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  background-size: 300% 300%;
  background: linear-gradient(230deg, #A7DBD8, #E0E4CC, #F38630);
  animation: BackgroundMove 60s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  line-height: 1.25em;
}

.text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5em;
}

.socials {
  margin: 1rem;
}

@keyframes BackgroundMove {
  0%{background-position:0 84%}
  50%{background-position:100% 16%}
  100%{background-position:0 84%}
}
