.link {
  display: inline-block;
  opacity: .7;
  transition: opacity .2s ease-in-out;
}

.link:hover {
  opacity: 1;
}

.link + .link {
  margin-left: 1rem;
}

.logo {
  fill: green;
}

.logo path {
  fill: red;
}
