.wrapper {
  height: 100%;
  text-align: center;
  background: linear-gradient(230deg, #A7DBD8, #E0E4CC, #F38630);
  background-size: 300% 300%;

  animation: BackgroundMove 60s ease infinite;

  white-space: nowrap;
}

.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.content {
  padding: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

@keyframes BackgroundMove {
  0%{background-position:0 84%}
  50%{background-position:100% 16%}
  100%{background-position:0 84%}
}
